<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course Details</title>
</head>
<body>
    <h1 style="text-align: center;">Courses Offered 📃</h1>
    <table class="table table-striped">
        <thead class="table-danger">
            <tr>
                <th>Course ID</th>
                <th>Course Name</th>
                <th>Course Price</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let course of courses">
                <td>{{ course.id }}</td>
                <td>{{course.name}}</td>
                <td>₹{{ course.price }}</td>
            </tr>
        </tbody>
    </table>
</body>
</html>
